<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>DockerDetect</title>
    <meta
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
      name="viewport"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <!-- Fonts and icons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="plugin/webfont/webfont.min.js"></script>
    <script>
      WebFont.load({
        google: { families: ["Lato:300,400,700,900"] },
        custom: {
          families: [
            "Flaticon",
            "Font Awesome 5 Solid",
            "Font Awesome 5 Regular",
            "Font Awesome 5 Brands",
            "simple-line-icons",
          ],
          urls: ["fonts.min.css"],
        },
        active: function () {
          sessionStorage.fonts = true;
        },
      });
    </script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap"
      rel="stylesheet"
    />
    <!-- CSS Files -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/atlantis.min.css" />

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="css/demo.css" />
    
    <!-- 차트 링크 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  </head>
  <body style="font-family: 'NanumSquare', sans-serif; font-weight: 700">
    <div class="wrapper overlay-sidebar">
      <div class="main-header">
        <!-- Logo Header -->
        <div class="logo-header" style="background-color: #6557A1;" >
          <a href="index.html">
          <img src="logo.png" alt="navbar brand" class="navbar-brand" width=45>
          <!-- <a href="main3.html" class="logo" style="color: white"> Docker Detect </a> -->
          </a>
        </div>
        <!-- End Logo Header -->

        <!-- Navbar Header -->
        <nav
          class="navbar navbar-header navbar-expand-lg"
          data-background-color="blue2"
        >
          <div class="container-fluid">
            <div class="collapse" id="search-nav">
              <form class="navbar-left navbar-form nav-search mr-md-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button type="submit" class="btn btn-search pr-1">
                      <i class="fa fa-search search-icon"></i>
                    </button>
                  </div>
                  <input
                    type="text"
                    placeholder="Search ..."
                    class="form-control"
                  />
                </div>
              </form>
            </div>
            <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                <li class="nav-item toggle-nav-search hidden-caret">
                  <a
                    class="nav-link"
                    data-toggle="collapse"
                    href="#search-nav"
                    role="button"
                    aria-expanded="false"
                    aria-controls="search-nav"
                  >
                    <i class="fa fa-search"></i>
                  </a>
                </li>
              </ul>
        </nav>
        <!-- End Navbar -->
      </div>

      <div class="main-panel">
        <div class="content">
          <div class="panel-header bg-primary-gradient">
            <div class="page-inner py-5">
              <div
                class="
                  d-flex
                  align-items-left align-items-md-center
                  flex-column flex-md-row
                "
              >
                <div>
                  <h2 class="text-white pb-2 fw-bold">상세 분석 보고서</h2>
                </div>
                <div class="ml-md-auto py-2 py-md-0">
                  <a href="./" class="btn btn-white btn-default btn-round mr-2"
                    >결과 보고서</a
                  >
                  <a
                    href="./"
                    class="btn btn-white btn-default btn-round mr-2"
                    >조치 가이드</a
                  >
                </div>
              </div>
              <div class="menu1" style="height:2.5rem;padding-top:1rem;">
                <div class="ml-md-auto py-2 py-md-0">
                    <style>
                        .menu1 a{
                            color: #BFBFBF;
                            font-size: 15px;
                            font-weight: lighter;
                            margin-right:1rem;
                            margin-left:0.5rem;
                        }
                        .menu1 a:hover{
                            color: white;
                            text-decoration:none;
                        }
                    </style>
                    <a href="./result_st?img_name=<%= result.docker_img%>" id="static_index" style="color:white;">
                        >&nbsp;&nbsp;&nbsp;정적분석</a
                    >
                  </div>
            </div>
              <div class="menu2" style="height:2.5rem;padding-top:1rem;">
                <div class="ml-md-auto py-2 py-md-0">
                    <style>
                        .menu2 a{
                            color: #BFBFBF;
                            font-size: 15px;
                            font-weight: lighter;
                            margin-right:1rem;
                            margin-left:0.5rem;
                        }
                        .menu2 a:hover{
                            color: white;
                            text-decoration:none;
                        }
                    </style>
                    <a href="./result_dy?img_name=<%= result.docker_img%>" id="dynamic_index">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;동적분석</a
                    >
                  </div>
            </div>
            </div>
          </div>
          <div class="page-inner mt--5">
            <div class="row row-card-no-pd">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <div class="card-head-row card-tools-still-right">
                      <h4 class="card-title" style="font-family: 'Nanum Gothic', sans-serif;">도커 이미지 정보</h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <div
                      class="d-flex flex-wrap justify-content-start pb-2 pt-4"
                    >
                    <ul
                    style="
                      font-family: 'Nanum Gothic', sans-serif;
                      font-size: 14px;
                      list-style: none;
                      flex: 0.5;
                      margin: auto;
                      margin-top: 1px;
                      font-weight: bold;
                      padding-left: 1rem;
                    "
                  >
                        <li style="margin: 3px 0 8px">이미지 ID</li>
                        <li style="margin: 3px 0">이미지명</li>
                      </ul>
                      <ul
                        style="
                          list-style: none;
                          flex: 5;
                          padding: 0;
                          margin: auto;
                          margin-top: 1px;
                        "
                      >
                        <li style="margin: 3px 30px 8px">64f53451290b62765d911256</li>
                        <li style="margin: 3px 30px">ynprpagamentitk/liferay</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-card-no-pd">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <div class="card-head-row card-tools-still-right">
                      <h4 class="card-title" id="section2"style="font-family: 'Nanum Gothic', sans-serif;">보안 취약점</h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <div
                      class="d-flex flex-wrap justify-content-start pb-2 pt-4"
                    >
                    <ul
                    style="
                      font-family: 'Nanum Gothic', sans-serif;
                      font-size: 14px;
                      list-style: none;
                      flex: 0.5;
                      margin: auto;
                      margin-top: 1px;
                      font-weight: bold;
                      padding-left: 1rem;
                    "
                  >
                    <li style="margin: 3px 0 8px;">TOTAL</li>
                    <li style="margin: 3px 0;">UNKNOWN</li>
                    <li style="margin: 3px 0; color: #506DFE">LOW</li>
                    <li style="margin: 3px 0; color: #BF9000">MEDIUM</li>
                    <li style="margin: 3px 0; color: #FF6565">HIGH</li>
                    <li style="margin: 3px 0; color: #FF3B3B">CRITICAL</li>
                  </ul>
                  <ul
                  style="
                    list-style: none;
                    flex: 5;
                    padding: 0;
                    margin: auto;
                    margin-top: 1px;
                  "
                >
                  <li style="margin: 3px 30px 8px;">1192</li>
                  <li style="margin: 3px 30px;">0</li>
                  <li style="margin: 3px 30px; color: #506DFE">412</li>
                  <li style="margin: 3px 30px; color: #BF9000">716</li>
                  <li style="margin: 3px 30px; color: #FF6565">63</li>
                  <li style="margin: 3px 30px; color: #FF3B3B">1</li>
                  </ul>
                    </div>
                    <p style="font-size: 18px; font-family: 'Nanum Gothic', sans-serif; margin-top:20px;">CVE 정보</p></p>
                    <div
                    class="d-flex flex-wrap justify-content-start pb-2 pt-4" style="padding-top:0 !important;"
                  >
                      <ul
                        style="
                          font-family: 'Nanum Gothic', sans-serif;
                          font-size: 14px;
                          list-style: none;
                          flex: 0.5;
                          margin: auto;
                          margin-top: 1px;
                          font-weight: bold;
                          padding-left: 1rem;
                        "
                      >
                        <li style="margin: 3px 0 8px; color: #FF6565">HIGH</li>
                        <li style="margin: 3px 0; color: #FF6565">HIGH</li>
                      </ul>
                      <ul
                        style="
                          list-style: none;
                          flex: 5;
                          padding: 0;
                          margin: auto;
                          margin-top: 1px;
                        "
                      >
                        <li style="margin: 3px 30px 8px">CVE-2019-3462</li>
                        <li style="margin: 3px 30px">CVE-2019-3462</li>
                      </ul>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="container-fluid">
            <div class="copyright ml-auto">
              <p style="color: #595959; font-size: 14px">
                YAZATREE&emsp;|&emsp;DockerDetect&emsp;
              </p>
            </div>
          </div>
        </footer>
      </div>

    </div>
    <!--   Core JS Files   -->
    <script src="core/jquery.3.2.1.min.js"></script>
    <script src="core/popper.min.js"></script>
    <script src="core/bootstrap.min.js"></script>

    <!-- jQuery UI -->
    <script src="plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- Chart JS -->
    <script src="plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- jQuery Vector Maps -->
    <script src="plugin/jqvmap/jquery.vmap.min.js"></script>
    <script src="plugin/jqvmap/maps/jquery.vmap.world.js"></script>

    <!-- Sweet Alert -->
    <script src="plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Atlantis JS -->
    <script src="atlantis.min.js"></script>

    <!-- Atlantis DEMO methods, don't include it in your project! -->
    <script src="setting-demo.js"></script>
    <script src="demo.js"></script>

    <!-- 부트스트랩 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
    <!-- 차트 -->
    <script>
    data = {
          datasets: [{
              backgroundColor: ['#CD6366','#61B2CF'],
              data: [19, 1]
          }],       
          // 라벨의 이름이 툴팁처럼 마우스가 근처에 오면 나타남
          labels: ['android.provider.ContactsContract','android.telephony.SmsManager'] 
      };
    
    // 도넛형 차트
    var ctx2 = document.getElementById("myChart2");
    var myDoughnutChart = new Chart(ctx2, {
        type: 'doughnut',
        data: data,
        options: {
          legend: {
            display:true,
            labels: {
              fontSize: 14,
              fontColor: "black"
            }
          }
        }
    });
    </script>
    </body>
</html>
    <script>
      Circles.create({
        id: "circles-1",
        radius: 45,
        value: 60,
        maxValue: 100,
        width: 7,
        text: 5,
        colors: ["#f1f1f1", "#FF9E27"],
        duration: 400,
        wrpClass: "circles-wrp",
        textClass: "circles-text",
        styleWrapper: true,
        styleText: true,
      });

      Circles.create({
        id: "circles-2",
        radius: 45,
        value: 70,
        maxValue: 100,
        width: 7,
        text: 36,
        colors: ["#f1f1f1", "#2BB930"],
        duration: 400,
        wrpClass: "circles-wrp",
        textClass: "circles-text",
        styleWrapper: true,
        styleText: true,
      });

      Circles.create({
        id: "circles-3",
        radius: 45,
        value: 40,
        maxValue: 100,
        width: 7,
        text: 12,
        colors: ["#f1f1f1", "#F25961"],
        duration: 400,
        wrpClass: "circles-wrp",
        textClass: "circles-text",
        styleWrapper: true,
        styleText: true,
      });

      var totalIncomeChart = document
        .getElementById("totalIncomeChart")
        .getContext("2d");

      var myBarChart = new Chart(barChart, {
        type: "bar",
        data: {
          labels: [
            "android.provider.ContactsContract",
            "android.telephony.SmsManager",
          ],
          datasets: [
            {
              label: "Sales",
              backgroundColor: "rgb(23, 125, 255)",
              borderColor: "rgb(23, 125, 255)",
              data: [3, 2, 9, 5, 4, 6, 4, 6, 7, 8, 7, 4],
            },
          ],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });

      var mytotalIncomeChart = new Chart(totalIncomeChart, {
        type: "bar",
        data: {
          labels: ["S", "M", "T", "W", "T", "F", "S", "S", "M", "T"],
          datasets: [
            {
              label: "Total Income",
              backgroundColor: "#ff9e27",
              borderColor: "rgb(23, 125, 255)",
              data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
            },
          ],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          legend: {
            display: false,
          },
          scales: {
            yAxes: [
              {
                ticks: {
                  display: false, //this will remove only the label
                },
                gridLines: {
                  drawBorder: false,
                  display: false,
                },
              },
            ],
            xAxes: [
              {
                gridLines: {
                  drawBorder: false,
                  display: false,
                },
              },
            ],
          },
        },
      });

      $("#lineChart").sparkline([105, 103, 123, 100, 95, 105, 115], {
        type: "line",
        height: "70",
        width: "100%",
        lineWidth: "2",
        lineColor: "#ffa534",
        fillColor: "rgba(255, 165, 52, .14)",
      });
    </script>
  </body>
</html>
